<div id="contributions">
  <div id="slide-back" aria-label="Scroll contributions back"><i class="fas fa-angle-left"></i></div>
  <div id="slide-forward" aria-label="Scroll contributions forward"><i class="fas fa-angle-right"></i></div>
  <div id="contributions-list">
    {% assign contributions = site.data.contributions | sort: 'order' %}
    {% for contribution_type in contributions %}
      <div class="contribution-type">
        {% include sections/{{ contribution_type.type }}.html %}
      </div>
    {% endfor %}
  </div>
</div>
