<div class="contributions-list">
  <h2><a name="{{ section.slug }}">{{ section.title }}</a></h2>
  <div class="content-container">
    <div class="projects">
      <h3>Projects</h3>
      {% for project in site.projects | sort: 'order'  %}
        <h4>{{ project.title }}</h4>
        <p>{{ project }}</p>
      {% endfor %}
    </div>
    <div class="organizations">
      <h3>Organizations</h3>
      {% for organization in site.organizations | sort: 'order'  %}
        <h4>{{ organization.title }}</h4>
        <p>{{ organization }}</p>
      {% endfor %}
    </div>
    <div class="talks">
      <h3>Talks</h3>
      {% for talk in site.talks | sort: 'order'  %}
        <h4>{{ talk.title }}</h4>
        <p>{{ talk }}</p>
      {% endfor %}
    </div>
    <div class="articles">
      <h3>Articles</h3>
      {% for article in site.articles | sort: 'order'  %}
        <h4>{{ article.title }}</h4>
        <p>{{ article }}</p>
      {% endfor %}
    </div>
  </div>
</div>
