$light-primary-color: #fefcfb;
$dark-primary-color: #2a2a2a;
$light-accent-color: #ffe837;
$dark-accent-color: #a54078;
$nav-background: $dark-primary-color;
$nav-link-color: $light-primary-color;

@mixin base-font {
  font-family: 'Rubik', sans-serif;
}

@mixin emphasis-font {
  font-family: 'Permanent Marker', cursive;
  @media (min-width: 1025px) {
    letter-spacing: .05em;
    font-size: 1.5em;
  }
}

html, body {
  @include base-font;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.5px;
  & > a {
    font-weight: 500;
  }
  @media (min-width: 1025px) {
    letter-spacing: 0.75px;
  }
}

.logo {
  @include emphasis-font;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: .75em 0;
}

::-webkit-scrollbar-track {
  display: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -2.5em;
  visibility: hidden;
  @media (min-width: 1025px) {
    top: -5em;
  }
}

#home-section {
  margin-top: 2.73em;
  text-align: center;
  background-color: $dark-primary-color;
  color: $light-primary-color;
  padding: .75em;
  h2, h3 {
    margin: 1em 0;
  }
  #title-photo {
    flex: 1.5;
    img {
      border-radius: 50%;
      max-width: 20em;
      min-width: 5em;
    }
  }
  #slogan {
    flex: 2;
    #hire-button {
      border: 0;
      width: 75%;
      background-color: $light-accent-color;
      border-radius: 5px;
      margin: 0 auto;
      padding: .5em;
      font-size: 1.25em;
      a {
        color: $dark-primary-color;
      }
    }
    h3 {
      font-size: 1.5em;
    }
  }
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > * {
      margin: 1em;
    }
  }
  @media (min-width: 1025px) {
    margin-top: 4em;
    padding: 0;
    $title-stops: 41.75%;
    $slogan-starts: calc(#{$title-stops} + 0.05%);
    background-image: linear-gradient(75deg, $light-primary-color 0% $title-stops, $dark-primary-color $slogan-starts 100%);
    #title-photo {
      color: $dark-primary-color;
      padding-top: 2em;
      text-align: center;
    }
    #slogan {
      width: calc(100% - (#{$title-stops} - 2%));
      color: $light-primary-color;
      #hire-button {
        background-color: $light-accent-color;
        padding: 1em;
        width: 55%;
        a {
          color: $dark-primary-color;
        }
      }
      h3 {
        margin: 3em 2em 0 2em;
      }
    }
  }
}

#footer {
  background-color: $dark-primary-color;
  a {
    color: $light-accent-color;
  }
  margin: 0;
  width: 100%;
  font-size: 2em;
  display: flex;
  align-items: center;
  #contact-box {
    width: 50%;
    margin: auto;
    padding: 1em 0;
    height: 3em;
    display: flex;
    justify-content: space-between;
    @media (min-width: 1025px) {
      width: 30%;
    }
  }
}