$section-padding-mobile: 1em;
$section-padding-desktop: 3em;

.content-section {
  padding: $section-padding-mobile;
  text-align: justify;
  h2 {
    @include emphasis-font;
    margin-bottom: 1em;
  }
  @media (min-width: 768px) {
    padding: $section-padding-desktop;
  }
}

.content-section-even {
  background: $secondary-color;
  color: $primary-color;
  a {
    &:hover {
      color: $primary-color;
    }
  }
}

.content-section-odd {
  background: $primary-color;
  color: $secondary-color;
  a {
    &:hover {
      color: $secondary-color;
    }
  }
}

// border colors for alternating rows
.content-section-odd .contribution-item, .content-section-odd .experience-item {
  border-bottom: 1px solid $secondary-color;
}
.content-section-even .contribution-item, .content-section-even .experience-item {
  border-bottom: 1px solid $primary-color;
}


.two-column {
  .content-container {
    padding: $section-padding-mobile;
    p {
      padding: 0 $section-padding-mobile;
    }
  }
  @media (min-width: 768px) {
    .content-container {
      display: flex;
      flex-wrap: wrap;
      padding: $section-padding-desktop;
      p {
        flex: 0 0 50%;
      }
    }
  }
}

.contributions-list {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  a {
    color: $accent-color;
  }
  .content-container {
    display: flex;
    $contribution-margin: 2em;
    div {
      width: calc(100vw - #{$contribution-margin});
      margin-right: $contribution-margin;
      & > *:not(:last-child) {
        padding-bottom: .75em;
      }
      .contribution-item {
        padding: 1em 1em 1em 0;
      }
      .contribution-item:last-of-type {
        border-bottom: 0;
      }
      @media (min-width: 768px) {
        margin-right: 1.5em;
        flex: 1;
        width: auto;
      }
    }
  }
}

.experiences-list {
  .experience-item {
    padding: 1em 1em 1em 0;
    & > *:not(:last-child) {
      padding-bottom: .75em;
    }
  }
  .experience-item:last-of-type {
    border-bottom: 0;
  }
}