$section-padding-mobile: 1em;
$section-padding-desktop: 3em;

.content-section {
  padding: $section-padding-mobile;
  h2 {
    @include emphasis-font;
    margin-bottom: 1em;
  }
  @media (min-width: 768px) {
    padding: $section-padding-desktop;
  }
}

.content-section-even {
  background: $dark-primary-color;
  color: $light-primary-color;
  a {
    color: $light-accent-color;
    &:hover {
      color: $light-primary-color;
    }
  }
}

.content-section-odd {
  background: $light-primary-color;
  color: $dark-primary-color;
  a {
    color: $dark-accent-color;
    &:hover {
      color: $dark-primary-color;
    }
  }
}

// border colors for alternating rows
.content-section-odd .contribution-item, .content-section-odd .experience-item {
  border-bottom: 1px solid $dark-primary-color;
}
.content-section-even .contribution-item, .content-section-even .experience-item {
  border-bottom: 1px solid $light-primary-color;
}


.two-column {
  @media (min-width: 768px) {
    .content-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      p {
        flex: 0 0 48%;
      }
    }
  }
}

.section-nav {
  display: flex;
  margin-top: -2em;
  .slide-back, .slide-forward {
    width: 50vw;
    height: 2em;
    line-height: 2em;
    font-size: 1.5em;
    cursor: pointer;
  }
  .slide-forward {
    text-align: right;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
#contributions {
  position: relative;
  #contributions-list {
    -webkit-overflow-scrolling: touch;
    transition: transform .4s ease-in;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    & > *:not(:last-child) {
      margin-right: 2em;
    }
    .contribution-type {
      flex: 0 0 calc(100vw - calc(#{$section-padding-mobile} * 2));
      .contribution-item {
        padding: 1em 0;
      }
      .contribution-item:last-of-type {
        border-bottom: 0;
      }
      @media (min-width: 768px) {
        margin-right: 1.5em;
        flex: 1;
        width: auto;
      }
    }
  }
}

.experiences-list {
  .experience-item {
    padding: 1em 1em 1em 0;
    & > *:not(:last-child) {
      padding-bottom: .75em;
    }
  }
  .experience-item:last-of-type {
    border-bottom: 0;
  }
}