---
layout: default
---

{% include navigation.html %}

<section id="home">
  <div id="title-photo">
    <img id="photo" src="/assets/images/photo.jpg" />
    <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
    <h2>{{ site.slogan }}</h2>
    <button>Hire me!</button>
  </div>
  <div id="slogan">
    <h3>{{ site.description }}</h3>
  </div>
</section>

{% assign sections = site.sections | sort: 'order' %}
{% for section in sections %}
  {% assign remainder = forloop.index | modulo: 2 %}
  {% if remainder == 0 %}
    <section id="{{ section.title | slugify }}" class="content-section-even">
  {% else %}
    <section id="{{ section.title | slugify }}" class="content-section-odd">
  {% endif %}
  {% if section.include != null %}
    {% include {{ section.include }} %}
  {% else %}
    {% include sections/default.html %}
  {% endif %}
  </section>
{% endfor %}